{% extends 'base.html' %}
{% load static %}

{% block title %}
Página Inicial
{% endblock %}

{% block content %}

{% for news in all_news %}
<div class="news-card">
    <a href="{% url 'news-details-page' news.id %}" class="news-link">
        <h2 class="news-title">{{ news.title }}</h2>
    </a>
    <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
    {% load static %}
    <img src="{% static news.image.url %}" alt="{{ news.title }}" class="news-image">
</div>
{% endfor %}

{% endblock %}