{% extends 'base.html' %}
{% load static %}

{% block title %}
Página de Detalhes da Notícia
{% endblock %}

{% block header-links %}
<li><a href="{% url 'home-page' %}">Home</a></li>
{% endblock %}

{% block content %}

<main class="news-detail">
    {% load static %}
    <img src="{% static news.image.url %}" alt="{{ news.title }}" class="news-image">

    <h1 class="news-title">{{ news.title }}</h1>
    <p class="news-content">{{news.content}}</p>

    <div class="news-categories-container">
        {% for category in news.categories.all %}
        <span class="news-categories">{{ category.name }}</span>
        {% endfor %}
    </div>

    <div class="news-bottom">
        <span class="news-author">{{ news.author }}</span>
        <span class="news-date">{{ news.created_at|date:"d/m/Y" }}</span>
    </div>
</main>


{% endblock %}